<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>599936681223-7unvv6bt18vec5h8kvt1m241rv8shr0r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.599936681223-7unvv6bt18vec5h8kvt1m241rv8shr0r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>599936681223-i885b16t6ubaithnn6l91u0qcli8l3me.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCMWMSWhNUO6-W1OHof-iVbJxtoHGgaUls</string>
	<key>GCM_SENDER_ID</key>
	<string>599936681223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>world.verifi.app.dev</string>
	<key>PROJECT_ID</key>
	<string>verifi-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>verifi-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599936681223:ios:e7d1cc2f27c277078731a2</string>
</dict>
</plist>