<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629088905005-9l4vt43sp337ne7nq2arsnvmmb2vccrt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629088905005-9l4vt43sp337ne7nq2arsnvmmb2vccrt</string>
	<key>API_KEY</key>
	<string>AIzaSyDZ0hQDyjO7SuKh24RvskYdAfp3_f7X7G8</string>
	<key>GCM_SENDER_ID</key>
	<string>629088905005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>world.verifi.app</string>
	<key>PROJECT_ID</key>
	<string>bionic-water-366401</string>
	<key>STORAGE_BUCKET</key>
	<string>bionic-water-366401.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629088905005:ios:d24403e8fa9ec9d4e015a4</string>
</dict>
</plist>