<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120678530892-6r5tcaocaodrbmfhjjc782rvghjpo7g7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120678530892-6r5tcaocaodrbmfhjjc782rvghjpo7g7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>120678530892-9db7a4q9ail5n9i3qnji466rsqcs9871.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB_cJqUivOjF23bjjjldVhpsFSEmGW9fuU</string>
	<key>GCM_SENDER_ID</key>
	<string>120678530892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>world.verifi.app</string>
	<key>PROJECT_ID</key>
	<string>verifi-5db5b</string>
	<key>STORAGE_BUCKET</key>
	<string>verifi-5db5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120678530892:ios:c4cba8aa6d9c1bc44499e9</string>
</dict>
</plist>